.pio
.vscode/.browse.c_cpp.db*
.vscode/ipch
.vscode/c_cpp_properties.json
Minitel.*
lib/basic/test/bin/**
lib/basic/test/obj/**
lib/basic/test/obj-windows/**
lib/basic/test/taille.txt
tools/vscode-bastos/*.vsix
bastos-linux-amd64.tar.gz
bastos-windows-amd64.zip
sonoff-flash.tgz
websocat.exe
websocat
