.pio
.vscode/.browse.c_cpp.db*
.vscode/ipch
Minitel.pdf
lib/basic/test/bin/**
lib/basic/test/obj/**
lib/basic/test/taille.txt
.~lock.séquence boot.docx#
.vscode/c_cpp_properties.json
.vscode/launch.json
